
/*--------------------------------------------------------------------------------*/
/*GENERAL*/
/*--------------------------------------------------------------------------------*/

*{
  margin: 0;
  box-sizing: border-box;
}

body{
  background: #efefef;
}

/* Layout Grid */

main{
  display: grid;
  height: 90vh;
  grid-template-columns: 20vw 1fr 5vw;
  grid-template-rows: repeat(3, 10vh) 70vh;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  margin: 10px;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

.thumbnail { grid-area: 1 / 1 / 3 / 2; }
.number { grid-area: 3 / 1 / 4 / 2; }
.ingredients { grid-area: 4 / 1 / 5 / 2; background: green;}
.title { grid-area: 1 / 2 / 2 / 3; background: yellowgreen;}
.close { grid-area: 1 / 3 / 2 / 4; background: yellow;}
.content { grid-area: 2 / 2 / 5 / 4; background: pink;}

/* Coins arrondis */

.subtitle, .thumbnail img, .number, .number-count, .ingredients, .title, .close, .content, .content-title{
  border-radius: 1em;
}


/* Flexbox */

.subtitle,
.number,
.number-count,
.ingredients, 
.ingredients-content, 
.title, 
.close, 
.content, 
.content-title{
  display: flex;
}

/* Subtitles */
.subtitle, .content-title {
  background: #efefef;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin-top: 1em;
}


/*--------------------------------------------------------------------------------*/
/*Partie GAUCHE*/
/*--------------------------------------------------------------------------------*/

/* THUMBNAIL */

.thumbnail img { 
    height: 100%;
    width: 100%;
    object-fit: cover;
}

/* NOMBRES DE PERSONNES */

.number{
  background: #ffffff;
  justify-content: space-around;
  align-items: center;
  font-size: 1.2em;
  color: #707070;
}

.number button{
  height: 3em;
  width: 3em;
  border-radius: 50%;
  background: #ffffff;
  border: 1px solid #707070;
}

.number button:active{
  background: #efefef;
}

.number-count{
  justify-content: center;
  align-items: center;
  font-size: 1.2em;
  width: 5em;
  height: 2em;
  background: #efefef;
  color: #000000;
}

/*INGREDIENTS*/

.ingredients{
  justify-content: center;
  background: #ffffff;
  height: 93.5%;
  overflow: auto;
}

.ingredients-content{
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.ingredients-table{
  overflow: auto;
  width: 100%;
  height: 100%;
}

/*--------------------------------------------------------------------------------*/
/*Partie DROITE*/
/*--------------------------------------------------------------------------------*/



/*Contenu de la recette*/
.content{
  flex-direction: column;
  align-items: center;
  overflow: auto;
  height: 95%;
  width: 100%;
}

article ol {
  list-style: none; 
  counter-reset: li;
}

/*Numérotation customisée*/
article ol li::before {
  content: counter(li); 
  color: #ffffff;
  background: #707070;
  display: inline-flex;
  justify-content: center;
  vertical-align: middle;
  align-items: center;
  margin-right: .5em;
  height: 1.5em;
  width: 1.5em;
  border-radius: 0.2em;
  font-size: 1em;
}

article ol li {
  counter-increment: li;
  line-height: 1.5em;
  margin-bottom: 2em;
  font-size: 2.5em;
  font-weight: 100;
}

